{% extends "base.html" %}
{% block content %}

    {% include "partials/actions.html" %}

    <div id="table-container">
        {% include "partials/table.html" %}
    </div>

    {% include "partials/modal.html" %}
    <div id="spinner"
         class="hidden fixed inset-0 bg-gray-100 bg-opacity-50 flex items-center justify-center z-50">
        <div class="animate-spin rounded-full h-16 w-16 border-b-4 border-blue-600"></div>
    </div>
    <!-- Scripts -->
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('aiModal', () => ({
                open: false,
                message: '',
                show(msg) {
                    this.message = msg;
                    this.open = true;
                }
            }))
        });

        function analyzeDocument(id) {
            fetch(`/analyze/${id}/`, {method: 'POST'})
                .then(response => response.json())
                .then(data => {
                    window.dispatchEvent(new CustomEvent('show-modal', {detail: data.analysis}));
                });
        }

        document.addEventListener('htmx:beforeRequest', function () {
            document.getElementById('spinner').classList.remove('hidden');
        }, true);

        document.addEventListener('htmx:afterRequest', function () {
            document.getElementById('spinner').classList.add('hidden');
        }, true);

        document.addEventListener('htmx:afterRequest', function (event) {
            const searchInput = document.querySelector('input[name="q"]');
            if (searchInput) {
                searchInput.value = '';
            }
        }, true);
    </script>
{% endblock %}
